# Virtual environment
djvenv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# SQLite
db.sqlite3

# Django
media/
staticfiles/

# IDE
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db