{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}


{% block extra_body %}
<body data-page="auth">
{% endblock %}


{% block content %}
<div class="container">
    <div class="page-hero" style="border:none;background:none">
        <div class="profile-panel" data-profile-panel="settings">
            <h1 class="profile-panel__title">information about changing the password is sent by email</h1>


        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}