{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}


{% block extra_body %}
<body data-page="auth">
{% endblock %}


{% block content %}
<div class="container">
    <div class="page-hero" style="border:none;background:none">
        <div class="profile-panel" data-profile-panel="settings">
            <h1 class="profile-panel__title">Password change done!</h1>
            <p>Congratulations, you have successfully changed your password!</p>
            <a href="{% url 'accounts:login' %}">Log in to the system</a>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}